body {
  font-family: "PT Serif", serif;
  font-size: 29px;
  min-height: 900px;
  background-color: #000;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

section.module:last-child {
  margin-bottom: 0;
}

section.module h2 {
  margin-bottom: 40px;
  font-family: "PT Serif", sans-serif;
  font-size: 1.999em;
}

section.module p {
  margin-bottom: 40px;
  font-size: 1em;
}

section.module p:last-child {
  margin-bottom: 0;
}

section.module.content {
  padding: 40px 0;
}

section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.module.parallax h1 {
  text-rendering: optimizeLegibility;
  font-family: "Bebas Neue", sans-serif;
  color: rgba(255, 255, 255, .6);
  font-size: 7.993em;
  line-height: 600px;
  text-align: center;
}

section.module.parallax-1 {
  background-image: url("images/halloween.png");
}

section.module.parallax-2 {
  background-image: url("images/halloween.png");
}

#pumpkin {
  height: 500px;
  width: 500px;
}

#poem {
  height: 400px;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.999em;
  color: #FFF;
  margin-left: 30%;
}

p {
  font-size: 1em;
  line-height: 130%;
  color: #FFF;
  text-align: left;
  margin-left: 30%;
}

#last-line {
  margin-left: 37%;
}

#author {
  font-style: italic;
  margin-top: 2em;
}
