body {
  min-height: 900px;
  background-color: #000;
}

.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 300px;
}

.parallax_group {
  position: relative;
  height: 100vh;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.parallax_layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.parallax_layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 1;
}

.parallax_layer--back {
  -webkit-transform: translateZ(-300px) scale(2);
  transform: translateZ(-300px) scale(2);
  z-index: 2;
}

#group1 {
  z-index: 1;
}

h1 {
  font-family: "Big Caslon", sans-serif;
  color: rgba(255, 255, 255, .6);
  font-size: 16em;
  text-align: center;
  margin-top: 0;
}

#scroll-btn {
  margin-bottom: 170px;
  margin-left: 550px;
  margin-top: 75px;
  height: 100px;
  width: 100px;
}

#poem {
  height: 400px;
  margin-bottom: 20px;
}

h2 {
  color: #FFF;
  margin-left: 500px;
}

p {
  color: #FFF;
  text-align: left;
  margin-left: 500px;
}
